# Development
NODE_ENV=""
PORT=""

DATABASE_URL=""

AUTH_URL=""
AUTH_SECRET=""

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL=""

# GitHub OAuth
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
GITHUB_CALLBACK_URL=""


# ====================================================================================================

# Production
# NODE_ENV=""
# PORT=""

# DATABASE_URL=""

# AUTH_URL=""
# AUTH_SECRET=""

# Google OAuth
# GOOGLE_CLIENT_ID=""
# GOOGLE_CLIENT_SECRET=""ss
# GOOGLE_CALLBACK_URL=""

# GitHub OAuth
# AUTH_GITHUB_ID=""
# AUTH_GITHUB_SECRET=""
# GITHUB_CALLBACK_URL="s"
